<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="content__bienvenida">
        <div class="bienvenida">
            <h2>Bienvenido me  </h2>
            <h2> llamo Ricardo Miranda y soy</h2>
            <h2><span>Desarrollador web</span></h2>
        </div>
        <div class="img__bienvenida">
            <img src="assets/img/bienvenida.png" alt="">
        </div>
    </div>
</body>
</html>