<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/cualidades.css">
    <link rel="stylesheet" href="../css/responsive.css">
    <title>Document</title>
</head>
<body>
    <div class="content__cualidades">
        <div class="social">
            <div class="img1">
                <img src="../assets/img/cualidad1.jpg" alt="">
            </div>
            <div class="text__cualidades">
                <h1>En el ambito Social</h1>
                <p>Soy una persona sociable se puede decir estos son los puntos que rescato de mi mismo:</p>
                <ul class="list__cualidades">
                    <li>Honestidad</li>
                    <li>Paciencia</li>
                    <li>Bondad</li>
                    <li>Generosidad</li>
                    <li>Respeto</li>
                </ul>
            </div>
        </div>
        <div class="trabajo">
            <div class="text__cualidades">
                <h1>En el ambito de trabajo</h1>
                <p>Soy una persona muy trabajadora que le encanta los retos yu superarce cada dia , estos son los puntos que rescato de mi mismo :</p>
                <ul class="list__cualidades">
                    <li>Resposabilidad</li>
                    <li>Trabajo en grupo</li>
                    <li>Preguntar puntos de vistas de cada persona</li>
                    <li>Autodidacta</li>
                    <li>Disciplina</li>
                </ul>
            </div>
            <div class="img2">
                <img src="../assets/img/cualidad2.jpg"">
            </div>
        </div>
    </div>
</body>
</html>