<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/habilidades.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Document</title>
</head>
<body>
    <div class="content_habilidades">
        <h1>Mis Habilidades</h1>
        <p>Estos son mis habilidades de mi carrerar que se en la actualidad :</p>
        <div class="habilidades">
            <div class="img_habilidades">
                <img src="/assets/img/habilidades/html-5.png"">
            </div>
            <div  class="img_habilidades">
                <img src="/assets/img/habilidades/css.png" alt="">
            </div>
            <div  class="img_habilidades">
                <img src="/assets/img/habilidades/js.png" alt="">
            </div>
            <div  class="img_habilidades">
                <img src="/assets/img/habilidades/pitudo .png" alt="">
            </div>
        </div>
    </div>
    <div class="game">
        <img src="/assets/img/game.png" alt="">
    </div>
</body>
</html>