<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/proyectos.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>Document</title>
</head>
<body>

    <div class="header_proyectos">
        <h1>Mis Proyectos</h1>
        <div class="content__proyectos">
            <div class="proyectos">
                <p>Fate</p>
                <div class="img__proyectos">
                    <img src="/assets/img/proyectos/fate.png" alt="">
                </div>
                <a href="#">Ver</a>
            </div>
            <div  class="proyectos">
                <p>VIdrieria</p>
                <div class="img__proyectos">
                    <img src="/assets/img/proyectos/vidrieria.png" alt="">
                </div>
                <a href="#">Ver</a>
            </div>
            <div  class="proyectos">
                <p>Inazuma Eleven</p>
                <div class="img__proyectos">
                    <img src="/assets/img/proyectos/superonce.png" alt="">
                </div>
                <a href="#">Ver</a>
            </div>
    
    </div>

    </div>
    <div class="img_inazuma">
        <img src="/assets/img/inazuma.png" alt="">
    </div>
</body>
</html>