<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/quiensoy.css">
    <title>Document</title>
</head>
<body>
    <main class="main">
        <div class="sombre__mi">
            <div class="descrip">
                <H1>Ricardo Miranda "Toy Toy "</H1>
                <p>
                    Me llamo ricardo Miranda tengo 19 años  y soy estudiante de la carrera de Desarrollo de Software y se preguntaran por que elegi esa carrera , la respuesta es que desde los 15 años me preguntaba como funcionaban las paginas web o las aplicaciones 
                    de escritorio o movil que las personas desarrollaban y me llamo la atención por que yo quiero ser parte de ellos me facina la idea de crear cosas que le pueda ayudar a una persona en su vida diaria, me estoy especializando en pagina web y en la programacion.
            </div>
            <div class="img__quiensoy">
                <img src="../assets/img/rengoku.png" alt="">
            </div>    
        </div>
    </main>
</body>
</html>